.customInputContainer {
    border: 1px solid white;
    height: 55px;
    width: 400px;
    display: flex;
    box-sizing: border-box;
}

.customInput {
    width: 100%;
    height: 100%;
    background-color: var(--main-bg);
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 0 30px;
}

.customInput::placeholder {
    color: #B5C6C6;
}

.passwordIconBox {
    display: flex;
    margin: auto;
    padding-right: 30px;
}

.inputError {
    border: 2px solid var(--Red, #FF9595);
}
