.sidebarBox {
    background-color: #fffcf9;
    width: 260px;
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    min-height: 100%;
    position: fixed;
}

.menu {
    padding-left: 61px;
    padding-top: 68px;
}

.navItem {
    color: #000;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}

.navItem .link {
    color: black;
    text-decoration: none;
}

.navItem .link:hover {
    text-decoration: underline;
}

.navItem .activeLink {
    color: black;
    text-decoration: underline;
}
