@import 'bootstrap/dist/css/bootstrap.css';

.box {
    display: flex;
    box-sizing: border-box;
    height: 100%;
}

.content {
    width: 100%;
}

.toggleArrow {
    background: none;
    margin-right: 20px;
}

.toggleArrow img.active {
    transform: rotate(-180deg);
    transition: all 0.3s ease 0s;
    background: none;
}


.toggleArrow img {
    transition: all 0.3s ease 0s;
}

.mainAddBtn {
    display: inline-flex;
    padding: 15px 30px;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    background: #FFEDDB;
    margin-bottom: 25px;
}

.mainAddBtnText {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: auto;
}

.mainAddBtnIcon {
    width: 15px;
    height: 15px;
    fill: #000;
    /*margin: auto;*/
}

.headBlock, .bodyBlock {
    display: flex;
    width: 100%;
}

.headBlock {
    margin-bottom: 20px;
}

.headBlock .blockItem {
    text-transform: uppercase;
}

.blockItemUsersTable {
    display: block !important;
}

.blockItem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blockItem, .blockSubItem {
    min-height: 60px;
    border-bottom: 1px solid #FFEDDB;
    background-color: #FFFCF9;
    /*padding: 50px 20px !important;*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.blockSubItem {
    background-color: #FFFFFE;
    color: #000;
}

.blockItem p {
    margin: 0;
}

.tableActions {
    display: flex;
    box-sizing: border-box;
    /*width: 126px;*/
    justify-content: space-between;
}

.tableBtn {
    background: none;
    border: none;
    margin-right: 30px;
    /*display: flex;*/
}

.tableBtn .box p {
    margin: 0;
}

.tableBtn .box img {
    margin: auto 10px auto auto;
    height: 15px;
    fill: #676767;
}

.tableBtn:last-child {
    margin-right: 0;
}

.tableBtn img {
    height: 15px;
    fill: #676767;
}

.adminPage {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 260px;
}
