.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

.navigation {
    color: var(--beige, #FFEDE4);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 0;
}

.navigation span {
    margin: 0 20px;
}

.headerBlock {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.headerBlock .header {
    color: var(--beige, #FFEDE4);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.infoBlock {
    position: relative;
    /*width: 485px;*/
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 70%;
}

.infoBlock .subText {
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
}

.titlePhotos {
    /*padding: 10px;*/
    width: 100%;
}

.video video {
    max-width: 700px;
    height: 400px;
    box-sizing: border-box;

}

.trainingPeriod {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /*gap: 60px;*/
    /*width: 85%;*/
}

.trainingPeriodFood {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*width: 100%;*/
}

.trainingPeriod .data, .trainingPeriodFood .data {
    display: flex;
}


.trainingPeriod  .data img {
    width: 45px;
}

.trainingPeriodFood .data img {
    width: 50px;
    height: 35px;
}

.trainingPeriod .data p, .trainingPeriodFood .data p {
    margin: auto 10px;
    height: 24px;
    line-height: 24px;
}

.infoBlock .price {
    font-family: Vetrino;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn {
    display: flex;
    width: 207px;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 2px solid var(--beige, var(--second-bg));
    transition: all 0.3s ease 0s;
}

.btn p {
    color: var(--torauoise-bg, #1E7689);
    text-align: center;
}

.btn:hover {
    background-color: var(--main-bg);
    box-shadow: none;
    color: var(--second-bg);
}

.btn:hover p {
    color: var(--second-bg);
}

.hiddenBtn {
    display: none;
}

.btn p {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: auto;
}

.trainingDetailsBlock {
    margin-bottom: 50px;
}

.trainingDetailsBlock .trainingDetailsList {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.trainingDetailsBlock .trainingDetailsItem {
    display: flex;
    width: 365px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-bottom: 20px;
}

.trainingDetailsBlock .trainingDetailsItem:first-child {
    margin-left: 0;
}

.trainingDetailsBlock .trainingDetailsItem h4 {
    color: var(--beige, #FFEDE4);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 50px;
}

.trainingDetailsBlock .trainingDetailsItem .detailsData {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: start;
    width: 100%;
    margin: 0 auto;
}

.trainingDetailsBlock .trainingDetailsItem .detailsData img {
    width: 24px;
    height: 22px;
    margin: auto 0;
}

.trainingDetailsBlock .trainingDetailsItem .detailsData p {
    color: var(--beige, #FFEDE4);
    /* Text16 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.photosGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 0fr;
    gap: 0px;
    margin-bottom: 50px;
}

img {
    object-fit: cover;
}

.photosGrid .gridImgBox img{
    width: 100%;
    height: 100%;
}

.photosGrid .gridItem .gridImgBox {
    width: 100px;
    height: 100px;
}

.photosGrid .gridItem:first-child .gridImgBox {
    width: 340px;
    height: 540px;
}

.photosGrid .gridItem:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    margin: auto;
}

.photosGrid .gridItem:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    margin: 30px 30px 15px;
}

.photosGrid .gridItem:nth-child(2) .gridImgBox {
    width: 240px;
    height: 330px;
}

.photosGrid .gridItem:nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    margin: 15px 30px 30px;
}

.photosGrid .gridItem:nth-child(3) .gridImgBox {
    width: 240px;
    height: 330px;
}

.photosGrid .gridItem:nth-child(4) {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    margin: auto;
}

.photosGrid .gridItem:nth-child(4) .gridImgBox {
    width: 340px;
    height: 540px;
}

.titleGrid {
    display: grid;
    grid-template-columns: 0fr 0fr 1fr;
    gap: 0px;
    height: 100%;
    width: 100%;
}

.titleGrid .gridImgBox {
    width: 500px;
    height: 670px;
}

.titleGrid .gridImgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleGrid .titleGridItem {
    padding-top: 10px;
}

.titleGrid .titleGridItem:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
}
.titleGrid .titleGridItem:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    padding-left: 10px;
}


.titleGrid .titleGridItem:nth-child(2) img {
    border-radius: 0px 400px 0px 0px;
}

@media screen and (max-width: 1345px) {
    .titleGrid .gridImgBox {
        width: 340px;
        height: 455px;
    }

    .titlePhotos .subText {
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {

    .price {
        margin-top: 10px;
    }

    .titleGrid .gridImgBox {
        width: 340px;
        height: 455px;
    }

    .titlePhotos .infoBlock {
        padding-top: 190px;
    }

    .titlePhotos .header {
        top: 0;
        font-size: 20px;
        position: absolute;
        text-align: center;
        width: 300px;
        transform: translateX(-28px);
    }

    .titlePhotos .data img {
        width: 30px;
        height: 25px;
        margin-right: 10px;
    }

    .titlePhotos .subText {
        transform: translateX(-28px);
        position: absolute;
        top: 50px;
        width: 300px;
    }

    .titlePhotos .data p{
        margin: auto;
        line-height: 24px;
    }

    .titlePhotos .subText {
        font-size: 16px;
    }

    .titlePhotos .btn {
        width: 190px;
        margin-left: 10px;
    }

    .video video {
        /*width: 540px;*/
        height: 310px;
        box-sizing: border-box;
    }

    .infoBlock {
        width: auto;
        padding-left: 5px;
    }

    .trainingDetailsBlock .trainingDetailsItem {
        margin-left: 5px;
        width: 33%;
    }


    .trainingDetailsBlock .trainingDetailsItem:first-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 920px) {
    .titleGrid .gridImgBox {
        width: 270px;
        height: 440px;
    }

    .titlePhotos .infoBlock {
        padding-top: 190px;
    }

    .titlePhotos .header {
        top: 0;
        font-size: 20px;
        position: absolute;
        text-align: center;
        width: 300px;
        transform: translateX(-28px);
    }

    .titlePhotos .data img {
        width: 30px;
        height: 25px;
        margin-right: 10px;
    }

    .titlePhotos .subText {
        transform: translateX(-28px);
        position: absolute;
        top: 50px;
        width: 300px;
    }

    .titlePhotos .data p{
        margin: auto;
        line-height: 24px;
    }

    .titlePhotos .subText {
        font-size: 16px;
    }

    .titlePhotos .btn {
        width: 190px;
        margin-left: 10px;
    }

    .video video {
        /*width: 540px;*/
        height: 310px;
        box-sizing: border-box;
    }

    .infoBlock {
        width: auto;
        padding-left: 5px;
    }

    .trainingDetailsBlock .trainingDetailsItem {
        margin-left: 5px;
        width: 33%;
    }


    .trainingDetailsBlock .trainingDetailsItem:first-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .headerBlock, .titlePhotos {
        width: 100%;
    }

    .titleGrid .gridImgBox  {
        width: 340px;
        height: 540px;
    }

    .titlePhotos {
        padding: 0;
    }

    .titleGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 0fr 0fr 0fr;
        gap: 0px;
        height: 100%;
    }

    .titlePhotos .titleGrid .titleGridItem {
        padding: 0;
        width: 70%;
    }

    .titlePhotos .titleGrid .titleGridItem:first-child {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;
    }
    .titlePhotos .titleGrid .titleGridItem:nth-child(2) {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 3;
        padding-left: 0px;
    }

    .titlePhotos .infoBlock {
        padding-top: 0;
    }

    .titlePhotos .header {
        top: 0;
        font-size: 16px;
        position: relative;
        text-align: center;
        width: 300px;
        transform: none;
    }

    .titlePhotos .data img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    .titlePhotos .subText {
        transform: none;
        position: relative;
        width: 300px;
        top: 0;
    }

    .titleGrid .titleGridItem:first-child {
        display: none;
    }

    .headerBlock {
        flex-direction: column;
        align-items: center;
    }

    .headerBlock .header {
        margin-top: 30px;
    }

    .trainingDetailsBlock .trainingDetailsList {
        flex-wrap: wrap;
        justify-content: center;
    }

    .trainingDetailsBlock .trainingDetailsItem {
        margin-left: 5px;
        width: 48%;
        margin-top: 20px;
    }

    .photosGrid .gridItem:nth-child(1) .gridImgBox {
        width: 230px;
        height: 365px;
    }

    .photosGrid .gridItem:nth-child(4) .gridImgBox {
        width: 230px;
        height: 365px;
    }

    .photosGrid .gridItem:nth-child(2) .gridImgBox {
        width: 160px;
        height: 220px;
    }


    .photosGrid .gridItem:nth-child(3) .gridImgBox {
        width: 160px;
        height: 220px;
    }
}

@media screen and (max-width: 576px) {

    .btn {
        width: 310px;
    }

    .titleGrid .gridImgBox  {
        width: 280px;
        height: 370px;
    }

    .photosGrid {
        display: grid;
        grid-template-rows: 1fr 0fr 0fr;
        gap: 0px;
    }

    .titlePhotos .titleGrid .titleGridItem {
        width: 100%;
    }

    .hide {
        display: none;
    }

    .hiddenBtn {
        display: block;
        margin-top: 30px;
    }

    .photosGrid .gridItem:first-child {
        grid-row-start: 1;
        grid-column-start: 1;

        grid-row-end: 2;
        grid-column-end: 2;
        margin: 5px;
    }

    .photosGrid .gridItem:nth-child(2) {
        flex-direction: row-reverse;
        display: flex;
        grid-row-start: 2;
        grid-column-start: 1;

        grid-row-end: 3;
        grid-column-end: 2;
        margin: 5px;
    }

    .photosGrid .gridItem:nth-child(3) {
        transform: translateY(-135px);
        flex-direction: column-reverse;
        display: flex;
        grid-row-start: 1;
        grid-column-start: 2;

        grid-row-end: 2;
        grid-column-end: 3;
        margin: 5px;
    }

    .photosGrid .gridItem:nth-child(4) {
        transform: translateY(-135px);
        grid-row-start: 2;
        grid-column-start: 2;

        grid-row-end: 3;
        grid-column-end: 3;
        margin: 5px;
    }

    .photosGrid .gridItem:nth-child(1) .gridImgBox {
        width: 225px;
        height: 355px;
    }

    .photosGrid .gridItem:nth-child(4) .gridImgBox {
        width: 225px;
        height: 355px;
    }

    .photosGrid .gridItem:nth-child(2) .gridImgBox {
        width: 160px;
        height: 220px;
    }

    .photosGrid .gridItem:nth-child(3) .gridImgBox {
        width: 160px;
        height: 220px;
    }

    .trainingDetailsBlock {
        margin-top: 10px;
    }
}

@media screen and (max-width: 540px) {
    .price {
        margin-top: 30px;
    }

    .data {
        font-size: 12px;
    }

    .data img {
        margin-left: 10px;
    }

    .trainingDetailsBlock {
        padding: 0 10px;
    }

    .titlePhotos .header {
        top: 0;
        font-size: 20px;
        position: relative;
        text-align: center;
        /*width: 300px;*/
        transform: translateX(-28px);
    }

    .titlePhotos .data img {
        width: 30px;
        height: 25px;
        margin-right: 10px;
    }

    .titlePhotos .subText {
        position: relative;
        /*top: 50px;*/
        /*width: 300px;*/
    }


    .video video {
        width: 340px;
        height: 195px;
    }

    .titleGrid .gridImgBox  {
        width: 185px;
        height: 245px;
    }

    .titlePhotos .titleGrid {
        display: flex;
        grid: none;
        justify-content: space-between;
    }

    .titlePhotos .titleGrid .titleGridItem:first-child {
        display: none;
    }

    .titlePhotos .titleGrid .titleGridItem {
        width: 60%;
        display: flex;
    }

    .titlePhotos .titleGrid .titleGridItem .infoBlock {
        gap: 10px;
        padding: 0;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .titlePhotos .titleGrid .titleGridItem .infoBlock .header {
        font-size: 15px;
        margin: 0;
        width: auto;
        top: 0;
        transform: none;
    }

    .titlePhotos .titleGrid .titleGridItem .infoBlock .subText {
        font-size: 12px;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .titlePhotos .titleGrid .titleGridItem .infoBlock .price {
        font-size: 15px;
        /*margin: 0;*/
    }

    .trainingDetailsBlock .trainingDetailsList {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .trainingDetailsBlock .trainingDetailsItem {
        margin-left: 5px;
        width: 100%;
        margin-top: 20px;
    }

    .photosGrid {
        display: grid;
        grid-template-rows: 1fr 0fr 0fr;
        gap: 0px;
    }

    .photosGrid .gridItem:first-child {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-end: 2;
        /*grid-column-end: 2;*/
        margin: 5px;
        display: flex;
        justify-content: center;
    }

    .photosGrid .gridItem:nth-child(2) {
        /*flex-direction: row-reverse;*/
        /*display: flex;*/
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
        margin: 5px;
    }

    .photosGrid .gridItem:nth-child(3) {
        transform: none;
        flex-direction: column-reverse;
        display: block;
        grid-row-start: 2;
        grid-column-start: 2;

        grid-row-end: 2;
        grid-column-end: 3;
        margin: 5px;
        width: 165px;
        height: 220px;
    }

    .photosGrid .gridItem:nth-child(4) {
        transform: none;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 3;
        margin: 5px;
        display: flex;
        justify-content: center;
    }

    .photosGrid .gridItem:nth-child(1) .gridImgBox {
        width: 225px;
        height: 355px;
    }

    .photosGrid .gridItem:nth-child(4) .gridImgBox {
        width: 225px;
        height: 355px;
    }

    .photosGrid .gridItem:nth-child(2) .gridImgBox {
        width: 160px;
        height: 220px;
    }

    .photosGrid .gridItem:nth-child(3) .gridImgBox {
        width: 160px;
        height: 220px;
    }

}
