.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

.headerBlock {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.headerBlock .header {
    color: var(--beige, #FFEDE4);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.infoBlock {
    width: 485px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.infoBlock .subText {
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.video {
    width: 700px;
    margin-right: 15px;
}

.video video {
    width: 700px;
    height: 400px;
    box-sizing: border-box;
}

.trainingPeriod {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 60px;
}

.trainingPeriod .data {
    display: flex;
}

.trainingPeriod .data img {
    width: 65px;
    height: 40px;
}

.trainingPeriod .data p {
    margin: 0;
    height: 24px;
}

.infoBlock .price {
    font-family: Vetrino;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn {
    display: flex;
    width: 207px;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--torauoise-bg, #1E7689);
}

.btn p {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: auto;
}

.trainingDetailsBlock {
    margin-bottom: 50px;
}

.trainingDetailsBlock .trainingDetailsList {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.trainingDetailsBlock .trainingDetailsItem {
    display: flex;
    width: 387px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    margin-left: 20px;
}

.trainingDetailsBlock .trainingDetailsItem:first-child {
    margin-left: 0;
}

.trainingDetailsBlock .trainingDetailsItem h4 {
    color: var(--beige, #FFEDE4);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 50px;
}

.trainingDetailsBlock .trainingDetailsItem .detailsData {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: start;
    width: 100%;
    margin: 0 auto;
}

.trainingDetailsBlock .trainingDetailsItem .detailsData img {
    width: 24px;
    height: 22px;
    margin: auto 0;
}

.trainingDetailsBlock .trainingDetailsItem .detailsData p {
    color: var(--beige, #FFEDE4);
    /* Text16 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.photosGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 0fr;
    gap: 0px;
    margin-bottom: 50px;
}

.photosGrid .gridImgBox img{
    width: 100%;
    height: 100%;
}

.photosGrid .gridItem .gridImgBox {
    width: 100px;
    height: 100px;
}

.photosGrid .gridItem:first-child .gridImgBox {
    width: 340px;
    height: 540px;
}

.photosGrid .gridItem:first-child {
    background-color: #757D57;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    margin: auto;
}

.photosGrid .gridItem:nth-child(2) {
    background-color: #A85A79;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    margin: 30px;
}

.photosGrid .gridItem:nth-child(2) .gridImgBox {
    width: 240px;
    height: 330px;
}

.photosGrid .gridItem:nth-child(3) {
    background-color: #5D79D7;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    margin: 30px;
}

.photosGrid .gridItem:nth-child(3) .gridImgBox {
    width: 240px;
    height: 330px;
}

.photosGrid .gridItem:nth-child(4) {
    background-color: #DF667E;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    margin: auto;
}

.photosGrid .gridItem:nth-child(4) .gridImgBox {
    width: 340px;
    height: 540px;
}
