.customSelectContainer {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 750px) {
    .customSelectContainer {
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .customSelectContainer {
        width: 350px;
    }
}


