.alertBox {
    position: fixed;
    bottom: 5px;
    width: 100vw;
    z-index: 1000;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alertBox .alert {
    text-align: center;
    border-radius: 10px;
    padding: 7px;
    margin: 5px;
    width: 30vw;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid var(--beige, var(--main-bg));
    background-color: white;
    box-shadow: 1px 1px 9px rgba(0,0,0, 0.9);
}

.alertError {
    border: 2px solid var(--beige, red) !important;
}
