.box {
    position: relative;
    height: 100%;
}

.closeBox {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 20;
}
