.main-block {
    display: flex;
    padding: 91px 0 135px 0;
    position: relative;
    margin: 10px 0 90px 0;
}

.main {
    background-image: url(../../../../../img/components/icon16.svg);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: auto;
}

.main-block__text {
    z-index: 2;
}

.title-main_up {
    color: #011e26;
    font-size: 50px;
    font-weight: 400;
    background-color: var(--second-bg);
    padding: 7px 10px;
    margin: 0 0 40px 0;
    box-sizing: border-box;
    height: 54px;
    line-height: 37px;
}

.title-main_down {
    color: #011e26;
    font-size: 50px;
    font-weight: 400;
    background-color: var(--second-bg);
    padding: 7px 10px;
    max-width: 580px;
    box-sizing: border-box;
    height: 54px;
    line-height: 37px;
}

.text-main__button {
    margin: 50px 0 0 0;
}

.text-main__button button{
    background: var(--beige, var(--second-bg));
    color: var(--main-bg);
    border: 2px solid var(--beige, var(--second-bg));
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 13px 23px;
    transition: all 0.3s ease 0s;
}

.text-main__button button:hover {
    background-color: var(--main-bg);
    box-shadow: none;
    color: var(--second-bg);
}

.main-block__img {
    position: absolute;
    top: 0;
    right: -100px;
    overflow: hidden;
    height: 695px;
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
}

.main-block__img1,
.main-block__img2 {
    height: 100%;
    object-fit: cover;
    position: relative;
    padding: 0 0 15% 0;
    overflow: hidden;
    object-position: right;
}

.main-block__img1 {
    margin: 0 20px 0 0;
}

@media screen and (max-width: 992px) {
    .title-main_up,
    .title-main_down {
        font-size: 40px;
    }
    .title-main_down {
        max-width: 470px;
    }
}

@media screen and (max-width: 768px) {
    .main-block__img2 {
        display: none;
    }

    .main-block__img1 {
        margin: 0 0px 0 0;
        padding: 0 0 40% 0;
    }

    .title-main_up,
    .title-main_down {
        font-size: 30px;
    }

    .title-main_down {
        max-width: 360px;
    }

	 .text-main__button {
		margin: 9% 0 0 0;
	 }

	 .title-main_up {
		margin: 0 0 5% 0;
	 }
}

@media screen and (max-width: 576px) {
    .title-main_up,
    .title-main_down {
        font-size: 20px;
    }
    .title-main_down {
        max-width: 250px;
    }
    .main-block__img1 {
        padding: 0 0 50% 0;
    }
}
