.imgData {
    width: 100%;
    /*height: 100%;*/
    overflow: hidden;

}

.img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.imgInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.imgInput .placeholder {
    color: #bbbbbb;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto 20px;
}


.imgInput img {
    margin: auto 0;
    padding-right: 30px;
}

.text {
    color: #000;
    margin: auto 20px;
}
